@page
@model LoginModel

@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_LayoutProGestorBlank.cshtml";
}
@* *@
<h1>@ViewData["Title"]</h1>
<div class="">
<div class="">
    <section>
        <form id="account" method="post">
            <div class="authincation h-100">
                <div class="container h-100">
                    <div class="row justify-content-center h-100 align-items-center">
                        <div class="col-md-6">
                            <div class="authincation-content">
                                <div class="row no-gutters">
                                    <div class="col-xl-12">
                                        <div class="auth-form">
                                            <div class="text-center mb-3">
                                                <a href="@Url.Action("","")"><img src="~/gymove/images/engineers.png" alt=""></a>
                                            </div>
                                            <h4 class="text-center mb-4">Iniciar sesión</h4>
                                                
                                            <div class="form-group">
                                                <label asp-for="Input.Email" class="mb-1 form-label"> Correo electronico</label>
                                                <input asp-for="Input.Email" type="email" class="form-control" placeholder="hello@example.com">
                                                <span asp-validation-for="Input.Email"></span>
                                            </div>
                                                
                                            <div class="mb-4 position-relative">
                                                <label asp-for="Input.Password" class="mb-1 form-label">Contraseña</label>
                                                <input asp-for="Input.Password" type="password" id="dz-password" class="form-control" placeholder="**********">
                                                <span class="show-pass eye">
                                                    <i class="fa fa-eye-slash"></i>
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                                <span asp-validation-for="Input.Password"></span>
                                            </div>
                                                
                                            <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                                <div class="form-group">
                                                    <div class="form-check custom-checkbox ms-1">
                                                        <input type="checkbox" class="form-check-input" id="basic_checkbox_1">
                                                        <label class="form-check-label" for="basic_checkbox_1">Recordar mi preferencia</label>
                                                    </div>
                                                </div>
                                                                                        
                                                <div class="form-group">
                                                    <a href="@Url.Action("","")">¿Olvidaste tu contraseña?</a>
                                                </div>
                                            </div>
                                                
                                            <div class="text-center">
                                                <button asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary light btn-block mb-3">Registrarme</button>
                                            </div>
                                            <div>
                                                <button id="login-submit" type="submit" class="btn btn-primary light btn-block">Iniciar sesión</button>
                                                        
                                            </div>
                                                
                                            <div>
                                                <p>
                                                    <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                                                </p>
                                                @* <p> *@
                                                @*     <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"></a> *@
                                                @* </p> *@
                                                @* <p> *@
                                                @*     <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a> *@
                                                @* </p> *@
                                            </div>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </section>
</div>
</div>
@*     <div class="col-md-6 col-md-offset-2"> *@
@*         <section> *@
@*             <h3>Use another service to log in.</h3> *@
@*             <hr /> *@
@*             @{ *@
@*                 if ((Model.ExternalLogins?.Count ?? 0) == 0) *@
@*                 { *@
@*                     <div> *@
@*                         <p> *@
@*                             There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article *@
@*                             about setting up this ASP.NET application to support logging in via external services</a>. *@
@*                         </p> *@
@*                     </div> *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                     <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"> *@
@*                         <div> *@
@*                             <p> *@
@*                                 @foreach (var provider in Model.ExternalLogins!) *@
@*                                 { *@
@*                                     <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button> *@
@*                                 } *@
@*                             </p> *@
@*                         </div> *@
@*                     </form> *@
@*                 } *@
@*             } *@
@*         </section> *@
@*     </div> *@
@* </div> *@

@* @section Scripts { *@
@*     <partial name="_ValidationScriptsPartial" /> *@
@* } *@